.education-heading {
  font-size: 30px;
  text-align: center;
}

.education-section {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px 0px;
  margin: 0px auto;
}

.education-section > * {
  flex: 1;
}

.education-card-container {
  display: flex;
  flex-direction: column;
}

/* Desktop Layout */
@media only screen and (min-width: 768px) {
  .education-heading {
    font-size: 56px;
    font-weight: 400;
    text-align: start;
  }

  .education-section > * {
    margin-bottom: 30px;
  }
}
