.contact-section {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px 0px;
  margin: 0px auto;
}

.contact-div-main {
  display: flex;
  margin: 0px auto;
}

a {
  color: #000000;
}

.contact-div-main > * {
  flex: 1;
}

.contact-title {
  font-size: 30px;
  text-align: center;
}

.contact-detail,
.contact-detail-email {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #868e96;
  text-decoration: none;
}

.contact-detail:hover,
.contact-detail-email:hover {
  color: #000000;
  text-shadow: 2px 1px 2px #b5b5b5;
  transition: all 0.3s;
}

.contact-subtitle {
  text-transform: uppercase;
  font-size: 16px;
  line-height: normal;
  text-align: center;
}

.contact-text-div {
  text-align: center;
  margin-top: 1.5rem;
}

.contact-image-div {
  display: none;
}

/* Desktop Layout */
@media only screen and (min-width: 768px) {
  .contact-div-main {
    margin: 0px;
  }

  .contact-title {
    font-size: 56px;
    font-weight: 400;
    text-align: start;
  }

  .contact-subtitle {
    font-size: 19px;
    text-align: start;
  }

  .contact-text-div {
    text-align: start;
  }

  .contact-detail,
  .contact-detail-email {
    font-size: 40px;
  }

  .contact-image-div {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    margin: auto;
  }

  .contact-image-div > img {
    max-width: 45%;
    height: auto;
    margin: auto;
  }
}
